@page "/simulators"
@using FinancialRiskEngine.Client.Components.Display
@inject NavigationManager _navigation

<div style="margin: 3em">
    <MudGrid>
        <SecondaryCard Title="Price Returns Simulators"
                       Description="A basic example of different ways to simulate prices."
                       OnClick="@DisplayPriceReturnsSimulatorComponent" />
        <SecondaryCard Title="Markov Chain Simulation"
                       Description="A basic example a simulation taking into account multiple possible states and volatility dependance."
                       OnClick="@DisplayPriceReturnsMarkovSimulatorComponent" />
    </MudGrid>
</div>

@code {
    private void DisplayPriceReturnsSimulatorComponent()
    {
        _navigation.NavigateTo("/simulators/price-returns-simulator");
    }

    private void DisplayPriceReturnsMarkovSimulatorComponent()
    {
        _navigation.NavigateTo("/simulators/price-returns-markov-simulator");
    }
}
