@page "/interest-rates"
@using FinancialRiskEngine.Client.Components.Display
@inject NavigationManager _navigation

<div style="margin: 3em">
    <MudGrid>
        <SecondaryCard Title="Interest Calculator Component"
                       Description="A simple and reusable component that calculates the final amount based on an initial principal, a time period, and an interest rate."
                       OnClick="@DisplayInterestCalculatorComponent" />
        <SecondaryCard Title="Equivalent Rate Calculator Component"
                       Description="A component that calculates a the equivalent interest rate given two different compounding frequencies."
                       OnClick="@DisplayEquivalentRateCalculatorComponent" />
        <SecondaryCard Title="Bond Yield Calculator Component"
                       Description="Calculate the yield based on par value, market value, payments, interest payment and payment periodicity."
                       OnClick="@DisplayBondYieldCalculatorComponent" />
    </MudGrid>
</div>

@code {
    private void DisplayInterestCalculatorComponent()
    {
        _navigation.NavigateTo("/interest-rates/interest-calculator");
    }

    private void DisplayEquivalentRateCalculatorComponent()
    {
        _navigation.NavigateTo("/interest-rates/equivalent-rate-calculator");
    }

    private void DisplayBondYieldCalculatorComponent()
    {
        _navigation.NavigateTo("/interest-rates/bond-yield-calculator");
    }
}
