@page "/risk-analysis"
@using FinancialRiskEngine.Client.Components.Display
@inject NavigationManager _navigation

<div style="margin: 3em">
    <MudGrid>
        <SecondaryCard Title="VaR Calculator"
                       Description="A basic calculator that returns the VaR using different methods and time horizons."
                       OnClick="@DisplayVaRCalculatorComponent" />
    </MudGrid>
</div>

@code {
    private void DisplayVaRCalculatorComponent()
    {
        _navigation.NavigateTo("/risk-analysis/var-calculator");
    }

}