@page "/risk-analysis"
@using FinancialRiskEngine.Client.Components.Display
@inject NavigationManager _navigation

<div style="margin: 3em">
    <MudGrid>
        <SecondaryCard Title="VaR Calculator"
        Description="A basic calculator that returns the VaR (Value at Risk) using different methods and time horizons."
        OnClick="@DisplayVaRCalculatorComponent" />
        <SecondaryCard Title="ES Calculator"
        Description="A basic calculator to represent Expected Shortfall (cVaR or conditional VaR)."
        Implemented="false"/>
        <SecondaryCard Title="Marginal VaR Calculator"
        Description="No description"
        Implemented="false" />
        <SecondaryCard Title="EWMA Model"
        Description="Example of an EWMA model to predict volatility on the S&P 500"
        OnClick="@DisplayEWMACalculatorComponent" />
        <SecondaryCard Title="GARCH(1,1) Model"
        Description="Example of an EWMA model to predict volatility on the S&P 500"
        OnClick="@DisplayGARCHCalculatorComponent" />
    </MudGrid>
</div>

@code {
    private void DisplayVaRCalculatorComponent()
    {
        _navigation.NavigateTo("/risk-analysis/var-calculator");
    }

    private void DisplayEWMACalculatorComponent()
    {
        _navigation.NavigateTo("/risk-analysis/ewma-calculator");
    }

    private void DisplayGARCHCalculatorComponent()
    {
        _navigation.NavigateTo("/risk-analysis/garch-calculator");
    }
}