@page "/risk-analysis"
@inject NavigationManager _navigation

<div style="margin: 3em">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4" lg="4">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">VaR Calculator</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Info" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>A basic calculator that returns the VaR using different methods and time horizons.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="float: right" OnClick="@DisplayVaRCalculatorComponent">Go</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</div>

@code {
    private void DisplayVaRCalculatorComponent()
    {
        _navigation.NavigateTo("/risk-analysis/var-calculator");
    }

}