@using FinancialRiskEngine.Engine.Classes.Financial
@inject IJSRuntime _jsInterop

<div class="col-12">
    <svg id="returns-plot"></svg>
</div>

@code {
    [Parameter]
    public List<Price> Prices { get; set; } = new List<Price>();

    protected override async Task OnInitializedAsync()
    {
        // We will handle charts with javascript libraries as mudblazor is very limited
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _jsInterop.InvokeVoidAsync("CreatePricesChart", Prices, "#returns-plot");
        }
    }
}
